
<div class="container">
    <div>
        @{
            var env = @ViewBag.Env;
            if (string.IsNullOrEmpty(env))
            {
                <p>No Env Setting</p>
            }
            else
            {
                <p>Env Ok</p>
            }
        }
    </div>
    <div class="row">
        <p id="announcement" style="white-space: pre-line;">@ViewBag.Announcement</p>
        <button class="btn btn-outline-success" type="button" id="btn-copy">複製</button>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $('#btn-copy').unbind('click').bind('click',function(){
            navigator.clipboard.writeText($('#announcement').text().trim());
        });
    });
</script>
